/* 
simplified css specificity hierarchy
inline > id > class, attribute > tag 
*/

@import url("reset.css");

/* Universal Selector */
* {
	box-sizing: border-box;
}

/* Tag Properties */
body {
	background-image: url("images/bgimg.jpg");
	background-repeat: repeat;
	width: 100%;
}

h1 {
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 3.4em;
	color: #dddddd;
	padding-top: 3vh;
	padding-right: 3vw; 
}

h2 {
	text-align: center;
	font-family: verdana;
	font-weight: bold;
	font-size: 1.4em;
	color: #dddddd;
	padding-bottom: 15px;
}

p {
	text-align: left;
}

ol {
	text-align: left;
	list-style-type: decimal;
}

ul {
	text-align: left;
	list-style-type: square;
}

li {
	padding-top: 0.4em;
	margin-left: 1vw;
}

dl {
	text-align: left;
}

dt {
	font-weight: bold;
	padding-top: 0.4em;
}

dd {

}

a {
	color: #dddddd;
}

a:hover {
	color: #ff6600;
}



/* Organized by Page Location
 and Descending DOM Structure */
#header {
	text-align: center;
	width: auto;
	min-width: 580px;
	height: 15%;
	border: 10px dotted #555555;
	border-radius: 100px;
	margin-top: 30px;
	margin-left: 30px;
	margin-right: 50px;
}
	#header img {
		float: left;
		margin-top: 2vh;
		margin-left: 20px;
		margin-bottom: 2vh;
		vertical-align: middle;
	}

	#header p {
		text-align: center;
		font-family: verdana;
		font-size: 20px;
		color: #dddddd;
		padding-top: 20px;
		padding-bottom: 20px;
		font-size: 1.8em;
	}

#toc {
	width: 50vw;
	min-width: 480px;
	max-width: 565px;
	color: #dddddd;
	background-color: #555555;
	border-radius: 10px;
	box-shadow: 5px 5px 5px #000000;
	border: 1px solid #000000;
	margin-top: 30px;
	margin-left: 30px;
	margin-bottom: 30px;
}

#toc h2 {
	color: #dddddd;
	font-family: arial;
	font-weight: bold;
	font-size: 1.4em;
	text-align: left;
	padding-left: 10px;
	margin-top: 5px;
}

#toc ul {
	color: #dddddd;
	font-family: arial;
	font-weight: bold;
	font-size: 1.0em;
	padding-left: 15px;
	margin-left: 15px;
}

#toc ul li {
	padding-top: 0.2em;
	padding-bottom: 0.2em;
}

#toc a {
	text-decoration: none;
}

	#toc a:active {
		color: #ff3300;
	}


.all-lessons {
	display: flex;
	flex-direction: column;
}

.lesson-row {
	display: flex;
	flex-direction: row;
}

.lesson-column {
	width: 33%;
	min-width: 190px;
	padding-right: 2vw;
	padding-left: 2vw;
}

.lesson-title {
	width: 95%;
	padding-top: 0px;
}

.concept-container {
	text-align: left;
	width: 100%; 
	border-radius: 10px;
	border: 1px solid #000000;
	background-color: #333333;
	box-shadow: 5px 5px 5px #000000;
	margin-bottom: 15px;
}	

.concept-title {
	font-family: gadugi;
	font-weight: bold;
	font-size: 1.1em;
	color: #eeeeee;
	padding-left: 1.2vw;
	padding-top: 1.4vh;
	padding-bottom: 1.6vh;
}

.concept-explanation {
	font-family: gadugi;
	font-size: 1em;
	color: #cccccc;
	padding-left: 2vw;
	padding-right: 1.6vw;
	padding-top: 0.4vh;
	padding-bottom: 2vh;
}

	.concept-explanation ul {
		padding-left: 2vw;

	}

	.concept-explanation ol {
		padding-left: 2vw;
	}

.code-sample {
	background-color: #cccccc;
	color: #000000;
	border: 1px solid #000000;
	width: 90%;
	max-width: 300px;
	text-align: left;
	margin-top: 10px;
	margin-left: 2vw;
}

	.code-sample p  {
		padding-left: 10px;
		margin-top: 0px;
		margin-bottom: 0px;
	}

.codsam-lang {
	text-align: center;
	font-weight: bold;
	background-color: gray;
	color: #000000;
}

.codsam-indent {
	padding-left: 40px;
}

.footer {
	font-family: gadugi;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	color: #cccccc;
}

	.footer #btt {
		margin-top: 30px;
	}

	.footer #me {
		float: right;
		color: #cccccc;
		text-decoration: none;
		padding-right: 2vw;
		margin-right: 1vw;
		padding-top: 30px;
		padding-bottom: 10px;
	}

	.footer #valid {
		float: left;
		padding-left: 2vw;
		padding-top: 20px;
		padding-bottom: 10px;
	}
